html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  width: 375px;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}